/* En tu archivo CSS */
.degradado {
  background-image: linear-gradient(to bottom, transparent, #171717);
}
.noticias-section {
  background: #171717;
  
  h2,
  span {
    color: #f1f1f1;
  }
  h2 {
    font-size: 5rem;
  }
  .tag {
    color: #1f1f1f;
  }

  .noticias::-webkit-scrollbar {
    width: 10px;
  }

  .noticias::-webkit-scrollbar-track {
    background: #888;
  }

  .noticias::-webkit-scrollbar-thumb {
    background-color: #f1f1f1;
    border-radius: 5px;
  }

  .noticias::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}
