/* about.scss */

.snap-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 90vh;
  //scrollbar-width: none; /* Ocultar barra de desplazamiento en Firefox */
}

.snap-container::-webkit-scrollbar {
  display: list-item; /* Ocultar barra de desplazamiento en WebKit */
}

.snap-start {
  scroll-snap-align: center;
}
