.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 5rem;
}

.header__content {
  max-width: 99%;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
}

.hamburger-menu {
  height: 4rem;
  width: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  &.special-path .bar {
    background-color: black;
  }
}

.bar {
  width: 2.9rem;
  height: 3px;
  border-radius: 2px;
  background-color: #ffffff;
  transition: 0.5s;
  position: relative;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #fff;
  transition: 0.5s;
}

.bar:before {
  transform: translateY(-9px);
}

.bar:after {
  transform: translateY(9px);
}

.hamburger-menu.active .bar {
  background-color: transparent;
}

.hamburger-menu.active .bar:before {
  transform: translateY(0) rotate(45deg);
  
}

.hamburger-menu.active .bar:after {
  transform: translateY(0) rotate(-45deg);
}

.menu-icon {
  position: relative;
  width: 60px;
  height: 50px;
  background: rgb(0, 0, 0);
  padding: 10px;
  cursor: pointer;
}
.menu-icon input {
  display: none;
}
.menu-icon span {
  display: block;
  position: relative;
  height: 3px;
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  opacity: 1;
  left: 0;
  margin-bottom: 24%;
  transition: 0.3s ease-in-out;
}
.menu-icon span {
  transform-origin: left center;
}
.menu-icon input:checked ~ span {
  background: red;
  left: 5px;
  margin-bottom: 28%;
}
.menu-icon input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
}
.menu-icon input:checked ~ span:nth-of-type(2) {
  opacity: 0;
}
.menu-icon input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
}
