/* globals.css */

::-webkit-scrollbar {
  width: 8px; /* Ancho del scroll vertical */
  height: 8px; /* Altura del scroll horizontal */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.borderText {
 -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: rgb(0, 0, 0);
}