.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Asegúrate de que la modal esté por encima de otros elementos */
  }
  
  .modal-content {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 300px; /* Ajusta el ancho según sea necesario */
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #333; /* Ajusta el color según tu preferencia */
  }
  
  .modal-content h2 {
    margin-top: 0;
  }
  
  .dropdown {
    margin-bottom: 10px;
  }
  
  .dropdown-button {
    background: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border-radius: 4px;
    font-size: 16px; /* Ajusta el tamaño del texto según sea necesario */
  }
  
  .dropdown-menu {
    display: none;
    background: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: absolute;
    width: 100%;
    top: 40px;
    left: 0;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #007bff;
  }
  
  .dropdown-menu a:hover {
    background: #e9ecef;
  }
  